{{ 'custom-banner.css' | asset_url | stylesheet_tag }}

<div class="banner-container">
  <div class="custom-mug-banner">
    <div class="slide_container swiper-wrapper">

      {% for block in section.blocks %}
        <div class="banner-content swiper-slide">

          <div class="image_banner">
            <img width="100%" src="{{ block.settings.banner_image |  image_url }}" alt="" loading="lazy">
          </div>

          <div class="banner-text">
            <h2 class="banner-title">
              {{ block.settings['main-text'] }}
            </h2>
            <p class="banner-description">
              {{ block.settings['secondary-text'] }}
            </p>
            <div class="button-wrapper">
              <a href="{{ block.settings.url }}" class="banner-button">{{ block.settings['url-text'] }}</a>
            </div>
          </div>

        </div>
      {% endfor %}

    </div>
    <div class="custom-banner-pagination"></div>  
  </div>
</div>

<style>
  {% for block in section.blocks %}

      .banner-text {
        color: {{ block.settings.text_color }};
      }

  {% endfor %}
</style>


<script>

document.addEventListener("DOMContentLoaded", function () {
  const swiper = new Swiper('.custom-mug-banner', {
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 3000,
    },
    spaceBetween: 40,
    speed: 200,
    pagination: {
      el: '.custom-banner-pagination',
      clickable: true,
    },
    freeMode: false,
    grabCursor: true,
    touchRatio: 0.5,
    threshold: 5,
  });
});

</script>



{% schema %}
{
  "name": "custom-banner",
  "settings": [],
  "presets": [
    {
      "name": "custom-banner"
    }
  ],
  "blocks": [
    {
      "type": "image_slide",
      "name": "image_slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Choose a banner image"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Edit the text color"
        },
        {
          "type": "text",
          "id": "main-text",
          "label": "Edit the Title"
        },
        {
          "type": "text",
          "id": "secondary-text",
          "label": "Edit the paragraph"
        },
        {
          "type": "text",
          "id": "url-text",
          "label": "Edit the button text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Edit the button URL"
        }

      ]
    }
  ]

}
{% endschema %}
