{{ 'footer.css' |  asset_url |  stylesheet_tag }}


<section class="footer_main_wrapper">
  <div class="footer_wrapper">
    <div class="footer">

      <div class="links_1">
        {% for block in section.blocks %}

          {% if block.settings.footer_link_group == "links_1" %}
            {% case block.type %}
              {% when 'link' %}
                <a class="footer_page_link" href="{{ block.settings.footer_link_url }}">{{ block.settings.footer_link_title }}</a>
            {% endcase %}
          {% endif %}

        {% endfor %}

        <div class="social_links_container">
          {% for block in section.blocks %}
            {% if block.settings.footer_link_group == "links_1" %}
                  {% case block.type %}
                    {% when 'social_link' %}
                      <a class="footer_social_link" href="{{ block.settings.footer_social_link_url }}"><img class="footer_social_link_icon" src="{{ block.settings.footer_social_link_icon }}" alt="social link"></a>
                  {% endcase %} 
            {% endif %}
        {% endfor %}
        </div>
      </div>

      <div class="links_2">
        {% for block in section.blocks %}

          {% if block.settings.footer_link_group == "links_2" %}
            {% case block.type %}
              {% when 'link' %}
                <a class="footer_page_link" href="{{ block.settings.footer_link_url }}">{{ block.settings.footer_link_title }}</a>
            {% endcase %}
          {% endif %}
          
        {% endfor %}
      </div>

      <div class="logo_image_container">
        <img class="logo_image" width="auto" height="100%" src="{{ 'logo.svg' |  asset_url }}" alt="Logo">
      </div>

    </div>
  </div>

  <div class="copyright">
    <p class="copyright_content">جميع الحقوق محفوظة ®2025 AKOAPP.NET</p>
  </div>
  
</section>



{% schema %}
{
  "name": "footer",
  "settings": [],
  "presets": [
    {
      "name": "footer"
    }
  ],
  "blocks": [

    {
      "type": "link",
      "name": "footer_page_link",
      "settings": [
        {
          "type": "text",
          "id": "footer_link_title",
          "label": "Name a Page"
        },
        {
          "type": "url",
          "id": "footer_link_url",
          "label": "Link a Page"
        },
        {
          "type": "select",
          "id": "footer_link_group",
          "label": "Select a Group",
          "options": [
            { "value": "links_1", "label": "Links Group 1" },
            { "value": "links_2", "label": "Links Group 2" }
          ],
          "default": "links_1"
        }
      ]
    },
    {
      "type": "social_link",
      "name": "footer_social_link",
      "settings": [
        {
          "type": "image_picker",
          "id": "footer_social_title_icon",
          "label": "Choose a social icon"
        },
        {
          "type": "url",
          "id": "footer_social_link_url",
          "label": "Link to your social page"
        },
        {
          "type": "select",
          "id": "footer_link_group",
          "label": "Select a Group",
          "options": [
            { "value": "links_1", "label": "Links Group 1" },
            { "value": "links_2", "label": "Links Group 2" }
          ],
          "default": "links_2"
        }
      ]
    }

  ]
}
{% endschema %}