{{ "header.css" |  asset_url |  stylesheet_tag }}

<section class="header_container">
  <div class="header">

    <div class="header_content">
       <div class="nav_icons">
        <a class="nav_icon account" href="{{ routes.account_url }}"><img width="auto" height="100%" src="{{ "accounts.svg" |  asset_url }}" alt="Logo"></a>
        <div class="nav_icon search"><img width="auto" height="100%" src="{{ "search.svg" |  asset_url }}" alt="Logo"></div>
       </div>
    </div>

    <div class="search_box">
      <div class="black_fade_in"></div>
      <form class="search_box_content" action="{{ routes.search_url }}" method="get" role="search">
        <img class="search_close_icon" width="30px" height="auto" src="{{ 'close-icon.svg' |  asset_url }}" alt="Close Icon" aria-label="Close">
        <input class="search_field" type="text" name="q" placeholder="أبحث عن منتج" aria-label="Search">
        <button class="search_button" type="submit">أبحث</button>
      </form>
    </div>

    <div class="header_content"> 
      <div class="logo_container_middle">
        <a class="logo_mobile" href="/"><img width="auto" height="100%" src="{{ settings.logo | img_url: 'medium' }}" alt="{{ shop.name }} logo"></a>
      </div>
      <nav class="nav_links">
        <ul class="main-menu">
          {% for link in linklists.main-menu.links limit: 4 %}
            <li class="menu-item">
              <a class="nav_link" href="{{ link.url }}">{{ link.title }}</a>
  
              {% if link.links != blank %}
                <div class="floating-dropdown">
                    <div class="floating-dropdown-content multi-column">

                      <div class="floating-dropdown-column">
                        {% for sub_link in link.links limit: 2 %}
                          <a class="floating-dropdown-item" href="{{ sub_link.url }}">
                            {{ sub_link.title }}
                          </a>
                          {% if sub_link.links != blank %}
                            {% for sub_sub_link in sub_link.links limit: 4 %}
                              <a class="floating-dropdown-subitem" href="{{ sub_sub_link.url }}">
                                {{ sub_sub_link.title }}
                              </a>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      <div class="floating-dropdown-column">
                        {% for sub_link in link.links limit: 2 offset: 2 %}
                          <a class="floating-dropdown-item" href="{{ sub_link.url }}">
                            {{ sub_link.title }}
                          </a>
                          {% if sub_link.links != blank %}
                            {% for sub_sub_link in sub_link.links limit: 4 %}
                              <a class="floating-dropdown-subitem" href="{{ sub_sub_link.url }}">
                                {{ sub_sub_link.title }}
                              </a>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      <div class="floating-dropdown-column">
                        {% for sub_link in link.links limit: 2 offset: 4 %}
                          <a class="floating-dropdown-item" href="{{ sub_link.url }}">
                            {{ sub_link.title }}
                          </a>
                          {% if sub_link.links != blank %}
                            {% for sub_sub_link in sub_link.links limit: 4 %}
                              <a class="floating-dropdown-subitem" href="{{ sub_sub_link.url }}">
                                {{ sub_sub_link.title }}
                              </a>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      <div class="floating-dropdown-column">
                        {% for sub_link in link.links limit: 2 offset: 6 %}
                          <a class="floating-dropdown-item" href="{{ sub_link.url }}">
                            {{ sub_link.title }}
                          </a>
                          {% if sub_link.links != blank %}
                            {% for sub_sub_link in sub_link.links limit: 4 %}
                              <a class="floating-dropdown-subitem" href="{{ sub_sub_link.url }}">
                                {{ sub_sub_link.title }}
                              </a>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      
                    </div>

                </div>
              {% endif %}

            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="header_content">
      <div class="logo_container_left">
        <img class="hamburger_menu" width="auto" height="100%" src="{{ 'hamburger-menu.svg' |  asset_url  }}" alt="hamburger menu" aria-label="navigation menu">
        <a class="logo_desktop" href="/"><img width="auto" height="100%" src="{{ settings.logo | img_url: 'medium' }}" alt="{{ shop.name }} logo"></a>
      </div>
    </div>
    
  </div>
  
  <nav class="navigation_mobile">
    <div class="controls_container">
      <div class="logo_mobile_nav"><a class="logo_mobile" href="/"><img width="auto" height="100%" src="{{ settings.logo | img_url: 'medium' }}" alt="{{ shop.name }} logo"></a></div>
      <div class="close_button"><img class="close_icon" width="30px" height="auto" src="{{ 'close-icon.svg' |  asset_url }}" alt="Close Icon" aria-label="Close"></div>
    </div>
    <ul class="main_links_list_m">
      {% for link in linklists.main-menu.links %}
        <li class="main_link_container_m">
          <div class="main_link_m">
            <p>{{ link.title }}</p>
            <img class="arrow_icon" height="100%" width="auto" src="{{ 'arrow_left.svg' |  asset_url }}" alt="Open" aria-label="Open">
          </div>
          <ul class="sub_links_container_m">

            {% for sub_link in link.links %}
              
              <li class="sub_link_m">
                <p>{{ sub_link.title }}</p>
                <ul class="sub_sub_links_container_m">
                  {% for sub_sub_link in sub_link.links %}
                    
                    <li class="sub_sub_link_m">
                      <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                    </li>

                  {% endfor %}
                </ul>
              </li>

            {% endfor %}
          </ul>
        </li>

    {% endfor %}
    </ul>
  </nav>

</section>

<script>

// Search functionality
const searchButton = document.querySelector('.search');
const searchBox = document.querySelector('.search_box');
const closeButton = document.querySelector('.search_close_icon');
const blackBackground = document.querySelector('.black_fade_in');
const searchField = document.querySelector('.search_field');

function openSearch() {
    searchBox.classList.add('active');
    setTimeout(() => searchField.focus(), 50);
}

function closeSearch() {
    searchBox.classList.remove('active');
}

searchButton?.addEventListener('click', openSearch);
closeButton?.addEventListener('click', closeSearch);
blackBackground?.addEventListener('click', closeSearch);
document.addEventListener("keydown", event => {
    if (event.key === "Enter") openSearch();
});

// Mobile menu functionality
const menuButton = document.querySelector('.logo_container_left');
const mobileNavMenu = document.querySelector('.navigation_mobile');
const closeMenuButton = document.querySelector('.close_button');

menuButton?.addEventListener("click", () => {
  mobileNavMenu.classList.remove('slide-out');
  mobileNavMenu.classList.add('slide-in');
});

closeMenuButton?.addEventListener("click", () => {
  mobileNavMenu.classList.remove('slide-in');
  mobileNavMenu.classList.add('slide-out');
});

// 'active' class for (mainLinks, subLinks, subSubLinks)
const toggleActiveOnClicked = (links) => {
  links.forEach(link => {
    link.addEventListener('click', () => link.classList.toggle('active'));
  });
};

toggleActiveOnClicked(document.querySelectorAll('.main_link_m'));
toggleActiveOnClicked(document.querySelectorAll('.sub_link_m'));
toggleActiveOnClicked(document.querySelectorAll('.sub_sub_links_container_m'));
toggleActiveOnClicked(document.querySelectorAll('.controls_container'));

</script>

{% schema %}
{
  "name": "header",
  "settings": [],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}