{{ 'mega_collections.css' | asset_url | stylesheet_tag }}

<div class="swiper mega_collections_wrapper">
  <div class="swiper-wrapper mega_collections">
    {% for mega_collection in shop.metaobjects.mega_collection.values %}

      <div class="swiper-slide mega_collection">
        <a class="mega-collection-content" href="{{ mega_collection.system.url }}">
          {% if mega_collection.media %}
            {% for media_item in mega_collection.media.value %}
              <img class="mega_image" src="{{ media_item | image_url }}" alt="{{ mega_collection.title | escape }}">
              <h3 class="mega_title">{{ mega_collection.title }}</h3>
            {% break %}
          {% endfor %}
          {% endif %}
        </a>
      </div>

    {% endfor %}
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const swiperContainer = document.querySelector('.mega_collections_wrapper');
  const megaCollectionsSwiper = new Swiper('.mega_collections_wrapper', {
    slidesPerView: 5,
    spaceBetween: 20,
    loop: true,
    speed: 1500,
    breakpoints: {
      10: { slidesPerView: 1.8, slidesPerGroup: 1, centeredSlides: true, },
      450: { slidesPerView: 1.8, slidesPerGroup: 1, centeredSlides: true, },
      768: { slidesPerView: 3, slidesPerGroup: 3 },
      1024: { slidesPerView: 4, slidesPerGroup: 3 },
      1200: { slidesPerView: 5, slidesPerGroup: 3},
    },
    autoplay: {
      delay: 800, 
      disableOnInteraction: false
    },
    freeMode: true,
    freeModeMomentum: false,
    grabCursor: true,
  });

    swiperContainer.addEventListener('mouseenter', function () {
    megaCollectionsSwiper.autoplay.stop();
  });

  swiperContainer.addEventListener('mouseleave', function () {
    megaCollectionsSwiper.autoplay.start();
  });
});

</script>

{% schema %}
{
  "name": "Mega Collections",
  "tag": "section",
  "class": "mega-collections-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "show_autoplay",
      "label": "Enable Autoplay",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Mega Collections"
    }
  ]
}
{% endschema %}