{{ 'product_page.css' |  asset_url |  stylesheet_tag }}

<section class="product_1">
    <div class="product_1_wrapper">

        <div class="product_image">
            <img height="auto" width="90%" src="{{ product.featured_image |  image_url  }}" alt="{{ product.featured_image.alt }}">
        </div>

        <div class="product_info">
            <div class="product_title_prices">
                <div class="product_title">
                    <p>{{ product.title }}</p>
                </div>
                <div class="product_prices">
                    <p class="original_price">{{ product.price |  money }}</p>
                    {% if product.compare_at_price %}
                        <p class="compare_at_price" style="text-decoration: line-through;">{{ product.compare_at_price |  money }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="product_description">
                {{ product.description }}
            </div>

            <div class="product_variants">

                    {% for variant in product.variants %}
                        <div class="variant_container">
                            <p class="variant_name">{{ variant.title }}</p>
                        </div>
                    {% endfor %}

            </div>

            <div class="product_buttons">
                <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              
                <!-- Quantity Selector -->
                <div class="quantity-wrapper">
                  <label for="quantity">Quantity:</label>
                  <input type="number" id="quantity" name="quantity" value="1" min="1"/>
                </div>
              
                <!-- Buy Now Button -->
                <button type="submit" name="add" class="buy-now-button">
                  الشراء الأٌن
                </button>
              </form>
            </div>

        </div>
    </div>
</section>


{% schema %}
{
    "name": "product_1",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "product_1"
        }
    ]
}
{% endschema %}